<nav>
	<ul class="top-nav">
		<!--<li><a href="#">Bio</a></li>
		<li><a href="#">Accomplishments</a></li>
		<li><a href="#">News</a></li>
		<li><a href="#">Events</a></li>
		<li><a href="#">Volunteer</a></li>
		<li><a href="#">Contact</a></li>-->
		<li><a href="https://www.nycvotes.org/campaigns/robertholden/contributions/new" class="donate-button">Donate</a></li>
		<li><a href="https://www.facebook.com/bobholdencitycouncil" class="social"><i class="brands-icon facebook"></i></a></li>
		<li><a href="https://twitter.com/BobHoldenNYC" class="social"><i class="brands-icon twitter"></i></a></li>
		<li><a href="https://www.instagram.com/bobholdennyc/" class="social"><i class="brands-icon instagram"></i></a></li>
		<li><a href="https://www.youtube.com/channel/UChtcvj3BHabKO0T8oDN-wQg" class="social"><i class="brands-icon youtube"></i></a></li>
	</ul>
</nav>