<div class="grid-container container-inner">
  <div class="grid-x align-center">
    
   {{> feature smallimg="robert-holden-bio-feature-small@2x.jpg" largeimg="robert-holden-bio-feature@2x.jpg"}}
   {{> feature-buttons}}

    <div class="cell section-padding">
      <div class="grid-x align-center">
        
        {{> page-title title="Robert Holden Bio" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempor urna quam, eu efficitur justo consectetur luctus. Sed magna dolor, tristique at risus vel, lobortis hendrerit nulla."}}

        <div class="cell" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="grid-x grid-margin-x align-center">

            <div class="cell small-10 medium-9 large-7 section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <img src="/images/robert-holden-middle-village@2x.jpg" alt="" />
            </div>

            <div class="cell small-10 medium-9 large-7 section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h3 class="sub-head text-left">Subhead Would Go Here</h3>
              <p>
              Robert Holden is the New York City Council Member of the 30th District, proudly representing Middle Village, Maspeth, Glendale, Ridgewood, Woodside, and Woodhaven since 2018. He is the Chair of the Committee on Technology, where he oversees the New York City Department of Information Technology and Telecommunication, Mayor’s Office of Media and Entertainment, and NYCTV.
            </p>
            <p>
              In his capacity as Chairman of the Committee on Technology, Council Member Holden has had oversight on 311 and 911 reform, universal broadband, the film industry, facial recognition technology, automated decision systems, cybersecurity, and many other timely subjects. Under the Committee on Technology jurisdiction, the city agencies have a collective city budget of over $700 million and miscellaneous revenue streams of nearly $200 million.
            </p>
          </div>
          <div class="cell section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <img src="/images/robert-holden-group@2x.jpg" alt="" />
          </div>
          <div class="cell small-10 medium-9 large-7 section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <p>
              Robert F. Holden was born in 1951 and raised in Maspeth. He and his wife of 45 years, Amy, have lived in Middle Village for decades and have three children and four grandchildren. Holden worked as a graphic designer and served as a professor at New York City College of Technology (CUNY) in the Department of Communication Design.
            </p>
            <p>
              Robert Holden has received several achievement awards from the United States Congress, New York State Senate, and the New York City Council. In 2012 he was awarded a lifetime achievement award from the Queens Civic Congress for his volunteer work in the community. Prof. Holden also received the PSC-CUNY Excellence in Teaching Award in 1999.
            </p>

            <p>
              As a longtime civic and community leader, Holden served as the president of the Juniper Park Civic Association for 25 years, as a member of Queens Community Board 5 (CB5) for 30 years, serving as First Chair for seven years, and as Chair of the Public Safety Committee for 13 years. Holden served on various boards of organizations, including the Juniper Valley Park Conservancy, and co-founded COP104, a coalition of civic groups within the CB5 area that sponsored monthly police and community forums for more than 20 years. He also ran little league programs, such as the Midville Dodgers, and volunteered his time acting on behalf of Middle Village, Maspeth, Glendale, and Ridgewood.
            </p>

              </p>
            </div>


            <div class="cell small-10 medium-9 large-7 section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>
              Donec mollis, nisl ac porttitor iaculis, dolor leo tincidunt sapien, a pulvinar nisl nisl eu lectus. Proin mattis urna nec leo tristique porta. Nulla posuere eu tortor non pharetra. Curabitur id molestie sapien. Aliquam eget porttitor nulla. In eu tincidunt purus. Quisque sit amet urna lectus. Fusce dignissim, ex at ornare facilisis, risus erat malesuada diam, a bibendum augue ante vel odio. Donec eu pulvinar lacus.
              </p>
              <p>
              Phasellus ullamcorper mi tincidunt scelerisque aliquet. Donec vehicula congue orci ac volutpat. Phasellus felis metus, imperdiet a ex in, placerat fermentum nulla. In a venenatis est, ac porttitor augue. Etiam ac erat eget tellus mollis pharetra. Nullam nibh justo, sodales vel lacinia ut, lacinia vel metus. Sed varius volutpat ante eget mattis.
              </p>
              <p>
              Mauris sodales sapien vitae ipsum viverra pharetra. Suspendisse gravida finibus risus in viverra. Sed quam nisi, scelerisque non quam eget, tincidunt cursus turpis. Sed rhoncus pellentesque neque. Fusce fermentum erat orci, ut lobortis mauris suscipit molestie. Aliquam justo eros, dignissim quis lectus eu, posuere egestas lorem. Etiam malesuada sit amet lectus nec pellentesque. Aliquam sollicitudin ipsum at dolor placerat faucibus. Sed ac consectetur lectus. Mauris sed ornare dui. Quisque consectetur sem nec diam porttitor luctus. Sed ut auctor nisi, vel blandit sem. Fusce faucibus, neque blandit bibendum bibendum, metus sapien commodo justo, dapibus tempor tellus tellus quis tortor.
              </p>
            </div>

            <div class="cell pull-quote section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="grid-x align-center">
                <div class="cell small-10 medium-7">
                  <h3 class="pull-quote-headline">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor at orci in laoreet. Sed ornare blandit ipsum. Aenean varius arcu ut quam luctus, a posuere sapien mattis”</h3>
                  <h4 class="pull-quote-name">-Governor George Pataki</h4>
                </div>
              </div>
            </div>

            <div class="cell small-10 medium-9 large-7 section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h3 class="sub-head text-left">Subhead Would Go Here</h3>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam metus risus, tincidunt vitae elit vel, finibus maximus massa. Maecenas id dapibus erat, ac maximus ipsum. Maecenas libero sapien, commodo nec dui vel, convallis dapibus mauris. Cras consequat erat vitae dui vestibulum pulvinar ac et orci. Aenean ut tristique tellus, in rutrum ipsum. Proin in turpis eget diam interdum ornare vel a velit. Vivamus posuere augue at est tempus, sit amet scelerisque nunc aliquet. Mauris in tellus feugiat, pretium ligula nec, tempor elit.
              </p>
              <p>
              Praesent non arcu velit. Cras eu libero turpis. Cras at enim placerat, finibus dui eu, molestie diam. Maecenas tristique orci et eros porttitor bibendum. Phasellus pellentesque et urna pretium vulputate. Proin eget gravida elit. Vivamus tristique diam ac aliquam sagittis. Pellentesque nisi arcu, rutrum sit amet vulputate ut, faucibus sed arcu. Mauris dolor lacus, feugiat et rutrum et, aliquam nec dui. Nunc rhoncus commodo sem sed facilisis.
              </p>
              <p>
              Donec mollis, nisl ac porttitor iaculis, dolor leo tincidunt sapien, a pulvinar nisl nisl eu lectus. Proin mattis urna nec leo tristique porta. Nulla posuere eu tortor non pharetra. Curabitur id molestie sapien. Aliquam eget porttitor nulla. In eu tincidunt purus. Quisque sit amet urna lectus. Fusce dignissim, ex at ornare facilisis, risus erat malesuada diam, a bibendum augue ante vel odio. Donec eu pulvinar lacus.
              </p>
              <p>
              Phasellus ullamcorper mi tincidunt scelerisque aliquet. Donec vehicula congue orci ac volutpat. Phasellus felis metus, imperdiet a ex in, placerat fermentum nulla. In a venenatis est, ac porttitor augue. Etiam ac erat eget tellus mollis pharetra. Nullam nibh justo, sodales vel lacinia ut, lacinia vel metus. Sed varius volutpat ante eget mattis.
              </p>
              <p>
              Mauris sodales sapien vitae ipsum viverra pharetra. Suspendisse gravida finibus risus in viverra. Sed quam nisi, scelerisque non quam eget, tincidunt cursus turpis. Sed rhoncus pellentesque neque. Fusce fermentum erat orci, ut lobortis mauris suscipit molestie. Aliquam justo eros, dignissim quis lectus eu, posuere egestas lorem. Etiam malesuada sit amet lectus nec pellentesque. Aliquam sollicitudin ipsum at dolor placerat faucibus. Sed ac consectetur lectus. Mauris sed ornare dui. Quisque consectetur sem nec diam porttitor luctus. Sed ut auctor nisi, vel blandit sem. Fusce faucibus, neque blandit bibendum bibendum, metus sapien commodo justo, dapibus tempor tellus tellus quis tortor.
              </p>
            </div>

            <div class="cell small-10 medium-9 large-7 section-padding two-photos" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="grid-x align-center">
                <div class="cell small-6">
                  <img src="/images/robert-holden-with-amy-holden@2x.jpg" alt="" />
                </div>
                <div class="cell small-6">
                  <img src="/images/robert-holden-with-caroline@2x.jpg" alt="" />
                </div>
              </div>
            </div>

            <div class="cell small-10 medium-9 large-7 section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <h3 class="sub-head text-left">Subhead Would Go Here</h3>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam metus risus, tincidunt vitae elit vel, finibus maximus massa. Maecenas id dapibus erat, ac maximus ipsum. Maecenas libero sapien, commodo nec dui vel, convallis dapibus mauris. Cras consequat erat vitae dui vestibulum pulvinar ac et orci. Aenean ut tristique tellus, in rutrum ipsum. Proin in turpis eget diam interdum ornare vel a velit. Vivamus posuere augue at est tempus, sit amet scelerisque nunc aliquet. Mauris in tellus feugiat, pretium ligula nec, tempor elit.
              </p>
              <p>
              Praesent non arcu velit. Cras eu libero turpis. Cras at enim placerat, finibus dui eu, molestie diam. Maecenas tristique orci et eros porttitor bibendum. Phasellus pellentesque et urna pretium vulputate. Proin eget gravida elit. Vivamus tristique diam ac aliquam sagittis. Pellentesque nisi arcu, rutrum sit amet vulputate ut, faucibus sed arcu. Mauris dolor lacus, feugiat et rutrum et, aliquam nec dui. Nunc rhoncus commodo sem sed facilisis.
              </p>
            </div>
             
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
