<div class="grid-container container-inner">
  <div class="grid-x">
	 <div class="cell feature">
      <div class="copy">
        <h1 class="feature-headline" data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-delay="200">Fighting For The Residents Of Middle Village, Maspeth, Glendale, Ridgewood, Woodside &amp; Woodhaven</h1>
        <h2 data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-delay="800">RE-ELECT ROBERT HOLDEN FOR CITY COUNCIL DISTRICT 30</h2>
      </div>
      <picture>
          <source media="(min-width:650px)" srcset="/images/holden-feature-desktop.jpg">
          <source media="(min-width:265px)" srcset="/images/holden-feature-mobile.jpg">
          <img src="/images/holden-feature-desktop.jpg" alt="City Councilmember Robert Holden">
        </picture>
    </div>

    <div class="cell">
      <iframe src="https://www.nycvotes.org/campaigns/robertholden/contributions/new?iframe=true" class="donate-iframe" frameborder="0" scrolling="no"></iframe>
    </div>

  </div>
</div>
