<div class="grid-container container-inner">
	<div class="grid-x">
		
		<div class="cell feature">
    	<div class="copy">
    		<h1 class="feature-headline" data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-delay="200">Fighting For The Residents Of Middle Village, Maspeth, Glendale, Ridgewood, Woodside &amp; Woodhaven</h1>
    		<h2 data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-delay="800">RE-ELECT ROBERT HOLDEN FOR CITY COUNCIL DISTRICT 30</h2>
    	</div>
    	<a href="/">
    		<picture>
				  <source media="(min-width:650px)" srcset="/images/holden-feature-desktop.jpg">
				  <source media="(min-width:265px)" srcset="/images/holden-feature-mobile.jpg">
				  <img src="/images/holden-feature-desktop.jpg" alt="City Councilmember Robert Holden">
				</picture>
			</a>
    </div>

    <div class="cell large-7 hp-donate-bar">
    	<div class="inner" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    		<h3>Your Generous Contribution Will Help To Protect Our Community</h3>
    		<p>Our city has lost its way and many of our elected officials have abandomed the polices that kept our streets safe for decades. I love our neighborhoods and I ask they you help me to continue to fight to keep them safe and clean for our children and our grandchildren.</p>

    		<ul class="donate-button-group">
    			<li><a href="/donate" class="button outline-white fill-secondary condensed full-width-small">Donate</a></li>
    			<li class="show-for-medium"><a href="/donate" class="button outline-white fill-primary condensed">$25</a></li>
    			<li class="show-for-medium"><a href="/donate" class="button outline-white fill-primary condensed">$50</a></li>
    			<li class="show-for-medium"><a href="/donate" class="button outline-white fill-primary condensed">$100</a></li>
    			<li class="show-for-medium"><a href="/donate" class="button outline-white fill-primary condensed">$175</a></li>
    			<li class="show-for-medium"><a href="/donate" class="button outline-white fill-primary condensed">Other</a></li>
    		</ul>
    	</div>
    </div>

    <div class="cell large-5 hp-signup-bar">
    	<div class="inner" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    		<h3>Join Bob</h3>
    		<p>Fill out the form below to join our campaign.</p>
    		<form action="https://holdenforcitycouncil.us7.list-manage.com/subscribe/post?u=7d00529cc08ebc48d83096c4f&amp;id=5e3c61dfbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    			<input type="hidden" name="b_name" id="b_name" value="7d00529cc08ebc48d83096c4f">
    			<input type="hidden" name="id" value="5e3c61dfbc">
    			<div class="double-inputs">
    				<input type="text" placeholder="First Name" name="FNAME" id="mce-FNAME" />
    				<input type="text" placeholder="Last Name" name="LNAME" id="mce-LNAME" />
    			</div>
    			<input type="email" value="" name="EMAIL" placeholder="E-mail Address" id="mce-EMAIL">
    			<input type="text" placeholder="Mobile Phone (optional)" name="MMERGE5" value="" id="mce-MMERGE5" />
    			<p class="disclaimer">By submitting your cell phone number you are agreeing to receive periodic text messages from this organization. Message and data rates may apply. Text HELP for more information. Text STOP to stop receiving message</p> 
    			<input type="submit" value="Sign Up" class="button outline-white full-width" />
    	</div>
    </div>

    
  </div>
</div>
